body {
    background-color: #f2f5ff;
    margin: 0px;
    font-family:  verdana, sans-serif;
}

h1 {
    font-size: 90px;
    font-family: "Pinyon Script";
    margin-bottom: 20px;
}

hr {
    width: 5%;
    border-style: dotted none none none;
    border-width: 5px;
    border-color: #c4c4c4;
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
    padding: 10px;
    position: relative;
}

p {
    line-height: 30px;
    padding-bottom: 20px;
}

.p1 {
    text-align: center;
}


strong {
    font-family: verdana, sans-serif;

}

.bottom {
    text-align: center

}

.cloud {
    position: absolute;
    width: 15%;
    left: 30%;
}

.cloud2 {
    position: absolute;
    width: 15%;
    left: 55%;
}

.header {
    height: 505px;
    padding-top: 30px;
    margin-top: 0px;
    background-color: rgb(222, 240, 255);
    text-align: center;
}

#mountImg {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.mountain {
    display: flex;
    width: 100%;
    bottom: 0px;
    background-color: rgb(222, 240, 255);
}

.middle {
    text-align: center;
    padding-top: 50px;
}

.codeIMG {
    position: relative;
    width: 15%;
}

.soccerIMG {
    position: relative;
    width: 8%;
    padding-left: 10px;
}

.profile {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.skills {
    text-align: center;
}




